{% extends 'base.html' %}
{% load static %}

{% block title %}Sha'af{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <ul>
        <li><a href="">courses</a></li>
        <li><a href="">sign in</a></li>
        <li><a href="">about us</a></li>
        <li><a href="">contact us</a></li>
    </ul>
{% endblock %}

{% block content %}
	<section id="main">
        <div class="main">
            <img src="{% static 'main/images/logo.png' %}" alt="logo">
            <a href="{% url 'signin' %}">
                <button type="button" >click to sign in</button>
            </a>
        </div>
    </section>
{% endblock %}