* {
    margin: 0;
    padding: 0;
    font-family: "Sen", sans-serif;
}

body {
    margin: 0;
    overflow-x: revert;
}

nav {
    width: 100vw;
    display: flex;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

nav h1 {
    color: #03afb9;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 1rem;
}

nav ul li {
    padding: 0.5rem;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
    text-decoration: none;
    background-color: #03afb9;
    color: white;
    border-radius: .4rem;
    padding: .5rem;
}

nav ul li a:active,
nav ul li a:hover {
    background-color: #f68626;
    transition: ease .2s;
}

#main {
    background-color: rgba(0, 86, 90, 0.75);
    max-width: 100vw;
    max-height: 100vh;
}

#main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main div img {
    width: 15vw;
    padding: 1rem;
}

#main div button {
    background-color: #f68626;
    border: none;
    color: white;
    font-size: .8rem;
    border-radius: .4rem;
    font-weight: bold;
}

#main div a{
    background-color: #f68626;
    border: none;
    padding: .7rem;
    color: white;
    font-size: .8rem;
    border-radius: .4rem;
    font-weight: bold;
}

#main div a:hover,
#main div a:active {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}

#main::after {
    content: "";
    background: linear-gradient(
            to right,
            transparent,
            rgba(255, 255, 255, 0.5),
            transparent
    );
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(30deg);
    pointer-events: none;
    animation: shine 2s forwards;
}

@keyframes shine {
    to {
        transform: translateX(100%) rotate(30deg);
    }
}

#courses {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#courses h1 {
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 2rem;
    color: #f68626;
}


#courses div .images {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
    left: 50%;
    box-sizing: border-box;
    background-color: red;
    justify-content: space-between;
}

#courses div img {
    width: 20rem;
    padding: 1rem;
}

#courses div p {
    padding: 1rem;
    text-align: center;
}